/********************************************
...::: Formatação Geral do Site :::...
********************************************/
* {
    margin: 0px;
    padding: 0px;
}


/********************************************
...::: Formatação do Cabeçalho 1 :::...
********************************************/
.Header {
    background: #1D1E43;
    height: 50px;
}

.Tipographic {
    color: white;
    font-size: 30px;
    float: left;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0px 0px 0px 25px;
}

.Logo {
    height: 50px;
}

.Phone{
    float: right;
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
    padding: 0px 25px 0px 0px;
}

.PhoneIcon {
    color: white;
    padding: 3px; 
    height: 45px;
    text-align: right;

}

/********************************************
...::: Formatação do Conteudo :::...
*********************************************/

.Content {
    text-align: center;
    align-items: center;
    display: flex;
}

.Collum {
    height: 450px;
    width: 350px;
    Border: 1px solid black;
    border-radius: 5px;
    float: Left;
    margin: 15px 15px 0px 0px;
}

/********************************************
...::: Botão do Whatssap :::...
*********************************************/
.WhatsappIcon {
    height: 50px;
    position:fixed;
    bottom:20px;
    right:30px;
}

/********************************************
...::: Formatação do Rodapé:::...
********************************************/
#Footer {
    clear: both;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    margin-top: 45px;
    background-color: #1D1E43;;
}

.FooterIcon{
    margin: 10px;
    text-decoration: none;
    filter: invert(99%)
}

#Footer p{
    color: white;
}

#dcbianchi {
    color: red;
    text-decoration: underline;
}